
.gradle/7.3.3/checksums/checksums.lock
.gradle/7.3.3/executionHistory/executionHistory.bin
.gradle/7.3.3/executionHistory/executionHistory.lock
.gradle/7.3.3/fileHashes/fileHashes.bin
.gradle/7.3.3/fileHashes/fileHashes.lock
.gradle/7.3.3/fileHashes/resourceHashesCache.bin
.gradle/buildOutputCleanup/buildOutputCleanup.lock
.gradle/file-system.probe
build/tmp/compileJava/previous-compilation-data.bin
